<%
  klass = if task.completed?
            'completed'
          else
            'incomplete'
          end
%>
  <li class="task <%= klass %>" id="task-<%= task.id %>">
    <span class="name"><%= task.name %></span>
       <%= form_for(task, remote: true) do |f| %>
       <%= f.hidden_field :completed, value: !task.completed %>
       <%= f.submit 'Update', class: 'button' %>
    <% end %>
  </li>
        